{% extends "post/base.html" %}

{% block title %} profile_update || {{ block.super }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div style="margin: 40px 40px 40px 40px;">
    <p style="font-size: 50px;">Edit Profile Form</p><hr/>
    <form action="." method="Post">
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        <button style="color:white;border: solid black 1px;width: 100%; height: 5%;background-color: rgba(255,0,0,0.7)">update</button>
    </form>

{% endblock %}