

{% block content %}
{% if valid_link %}
    <p>please enter (and confirm) your new password</p>
    <div style="margin: 40px 100px 40px 40px;">
        <p style="font-size: 50px;">Login Form</p><hr/>sss
    <form action="{% url 'password-reset-confirm' %}" method="post">
        {{ form.as_p }}
        <button style="color:white;border: solid black 1px;width: 20%; height: 5%;background-color: rgba(255,0,0,0.7)">Reset</button>
    </form>
{% else %}
    <div>
        <h1>password reset failed</h1>
        <p>password reset link is <strong>invalid</strong> possibly because it's already been used </br>
            kindly request for a new one</p>
    </div>
{% endif %}
{% endblock %}
