

{% block content %}
{% if valid_link %}
    <p>please enter (and confirm) your new password</p>
    <div style="margin: 40px 100px 40px 40px;">
        <p style="font-size: 50px;">Login Form</p><hr/>sss
    <form action="{% url 'password-reset-confirm' %}" method="post">
        <div style="display: None;">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <td>{{ form.new_password1_errors }}
                    <label for="id_new_password1_errors">New password:</label>
                </td>
                <td>{{ form.new_password1 }}</td>
            </tr>

            <tr>
                <td>{{ form.new_password2_errors }}
                    <label for="id_newpassword2_errors">confirm password</label>
                </td>
                <td>{{ form.newpassword2 }}</td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn btn-primary" value="chang my password"/></td>
        </table>
    </form>
{% else %}
    <h1>password reset failed</h1>
    <p>password reset link is <strong>invalid</strong> possibly because it's already been used </br>
        kindly request for a new one</p>
{% endif %}
{% endblock %}
