{% extends "post/base.html" %}


{% block title %} password_reset || {{ block.super }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div style="margin: 40px 100px 40px 40px;">
    <p style="font-size: 50px;">Password Reset Form</p><hr/>
    <form action="{% url 'password_reset' %}" method="Post">
        {% csrf_token %}
        {{ form|crispy }}
        <button style="color:white;border: solid black 1px;width: 20%; height: 5%;background-color: rgba(255,0,0,0.7)">Reset</button>    </form>
</div>
{% endblock %}