{% extends "post/base.html" %}

{% block title %} password reset email || {{ block.super }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div style="margin: 40px 100px 40px 40px;">
    <p style="font-size: 50px;">email PassWord Reset</p><hr/>
    {% autoescape off %}
    <p>someone asked for for password reset for email {{ email }} follow the link bellow. </p>
    <p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
 
{% endautoescape %}
</div>
{% endblock %}