{% load static %}

<div class="col-sm-4 contain" style="margin-top: 50px">
		 <img class="img-responsive"src="{% static 'image\port.jpg' %}" alt="" />
		 <a href=""><div class="overlay">
					<div class="text"><span style="color: white">silvablog</div>
			</div></a>
</div>
    
<div class="col-sm-4 contain" style="margin-top: 50px">
		<img class="img-responsive" src="http://shakerley.com/content/construction-banner.png" alt="ini">
		<a href=""><div class="overlay">
			<div class="text">underconstruction</div>
	</div></a>
</div>
    
<div class="col-sm-4 contain" style="margin-top: 50px">
		<img class="img-responsive" src="http://shakerley.com/content/construction-banner.png" alt="ini">
		<a href=""><div class="overlay">
			<div class="text">underconstruction</div>
	</div></a>
		
</div>