<div class="col-sm-4" style="margin-top: 50px">
	<a href=""><img class="img-responsive" src="http://shakerley.com/content/construction-banner.png" alt="ini"></a>	
</div>
    
<div class="col-sm-4" style="margin-top: 50px">
		<a href=""><img class="img-responsive" src="http://shakerley.com/content/construction-banner.png" alt="ini"></a>
</div>
    
<div class="col-sm-4" style="margin-top: 50px">
		<a href=""><img class="img-responsive" src="http://shakerley.com/content/construction-banner.png" alt="ini"></a>
</div>