{% load static %}

<div class="col-sm-4 contain" style="margin-top: 50px">
		 <img class="img-responsive"src="{% static 'image\port.jpg' %}" alt="" />
		 <a href=""><div class="overlay">
					<div style="font-size: 40px;" class="text"><b>silvablog</b><br><p style="margin-top: 50px;color: white;font-size: 90px;text-align:center" class="fa fa-low-vision"></p><br><p>click to view</p></div>
			</div></a>
</div>
    
<div class="col-sm-4 contain" style="margin-top: 50px">
		<img class="img-responsive" src="{% static 'image\construct.jpg' %}" alt="ini">
		<a href=""><div class="overlay">
			<div style="font-size: 20px;" class="text"><b>under construction</b><br>
				<p style="color: white;font-size: 50px:700;text-align:center" class="fa fa-low-vision"></p><br>click to view<
			</div>
	</div></a>
</div>
    
<div class="col-sm-4 contain" style="margin-top: 50px">
		<img class="img-responsive" src="{% static 'image\construct.jpg' %}" alt="ini">
		<a href="#"><div class="overlay">
			<div style="font-size: 20px;" class="text"><b>under construction</b><br>
				<p style="color: white;font-size: 50px;text-align:center" class="fa fa-low-vision"></p><br>click to view<
			</div>
	</div></a>
		
</div>