{% extends "post/base.html" %}

{% block titlle %}{{ super.block }} || {{ title }} {% endblock %}

{% block content %}


<!--
<p>
	<a href="{% url 'post:post_share' post.id %}">    
		Share this post  
	</a>
</p>
-->

<div style="border-top: solid #424242 8px ; margin: 84px 24px 0px;
">

<div style="padding-top: 50px;" class="head">
	<h2 style="text-transform: uppercase;font-weight: 700">{{ post.title }}</h2>

	<p style="color: #777;">{{ post.created|date }}</p>
	
	
	<p style="color:#777;font-size:20px;" class="glyphicon glyphicon-user" ><span style="font-family:sans-serif">{{ post.author }}</span>  </p>   
	{% if post.tags %}
		<p style="color:#777;font-size:20px;" class="glyphicon glyphicon-tags" >
			<span style="font-family:sans-serif">{{ post.tags.all|join:", "}}</span>
		</p> 
	{% endif %}
	
	{% if post.status == 'draft' %}
	<p style="color: red">Draft←future post</p>
	{% endif %}
	<div><b>share</b>
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="fa fa-facebook"></a>
    <a href="https://twitter.com/home?status={{ instance.content}}%20{{ request.build_absolute_uri }}" class="fa fa-twitter"></a>
    <a class="fa fa-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}/&title={{ instance.title }}&summary={{ quote_tag }}&source={{ request.build_absolute_uri }}/"></a>
    <a class="fa fa-google" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}">+</a>
	<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}/&title={{ instance.title }}"></a>
	</div>
</div>

	<div style=" padding-top: 10px; padding-bottom: 10px; margin-bottom: 300px;width: 100%  ">

		{% if post.image %}
		<img style="box-shadow:1px 2px 30px; max-height: 600px " class="img-responsive" alt="{{ post.image_info }}" width="100%"  src="{{ post.image.url }}" />
		{% endif %}
		
		<span style="color: #3c3c3c;padding-top: 30px;font-size: 18px;line-height: 1.8e145%m;padding-left: 5px;padding-right: 5px;
		font-family: "Open Sans", arial, sans-serif;">{{ post.content|safe }}</span>
	<p>


	<div class="fb-comments"  data-width="100%" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
	</div>
	</div>
</div>

</div>
{% endblock %}