{% extends 'post/base.html' %}
{% block title %}{{ super.block }}{% endblock %}
{% block content %}
{% load static %}

<header class=" con-img" style="margin-top:20px" >
		<img class="img-responsive"  src="{% static 'image\head.jpg'' %}" alt="image header">
		<p class="con-text" style="font-weight: 900;color: #424242; ">SILVA BLOG</p>
		<P class="con-bottom" style="text-transform: uppercase; ">python django developer</P>
</header>



<div class="head" style="border-top: solid #424242 8px; text-align: left; margin: 84px 24px 0px; mar
">
	<div style="padding-top: 50px">
	{% for post in posts %}

	<div style=" border-bottom: solid #424242 2px; 	font-family: "Open Sans", arial, sans-serif;" class="post-list" >
	    <ul style="list-style: none">
		        <li>
		        	<h3>
		        	<a href="{{ post.get_absolute_url }}">{{ post.title}} / 
		        		<span style="text-transform: lowercase; font-weight: 100">Published {{ post.created|date}}
		        		</span>
		        	</a>
		       </h3>
		        </li>
		    </ul>
		</div>
		{% endfor %}
		</div>
	</div>
<div style="margin-top: 50px; margin-bottom: 300px;" class="paginator head">
{% include "post/pagination.html" %}
</div>
{% endblock %}
